.checkout-card {
  position: relative;
  padding: 8px 10px 8px 12px;
  background-color: $background;
  border-radius: 4px;

  .checkout-title {
    @include text-style(13, $primary);
    padding-right: 36px - 10px;
    font-weight: 400;
  }

  .delete-button {
    position: absolute;
    top: 8px;
    right: 8px;

    .ic-close {
      display: block;
      font-size: 20px;
      color: $secondary;
    }
  }

  .checkout-footer {
    @include flexbox(between);
    margin-top: 8px;
  }

  .checkout-select {
    position: relative;
    display: inline-block;

    select {
      @include text-style(14, $primary);
      min-width: 72px;
      height: 24px;
      padding: 0 22px 0 8px;
      line-height: 1;
      text-overflow: ellipsis;
      background-color: $white;
      border: 1px solid $border;
      border-radius: 3px;
      appearance: none;
    }

    .ic-caret {
      @include pos-center-y;
      right: 2px;
      font-size: 20px;
      color: $tertiary;
      pointer-events: none;
    }
  }

  @include responsive(D) {
    .checkout-title {
      @include text-style(16);
    }
  }
}
