.inquiry-card {
  padding-bottom: 40px;

  &-header {
    @include text-style(12, $primary);

    .detail,
    .misc {
      @include flexbox(start);

      dd,
      span {
        @include flexbox(start);

        &:nth-child(n + 2)::after {
          content: '|';
          display: block;
          margin: 0 4px;
        }
      }
    }

    .detail {
      dd {
        &:last-child::after {
          display: none;
        }

        &.is-answered {
          color: $blue;
        }
      }
    }

    .misc {
      @include flexbox(start);
      margin-top: 8px;
      color: $tertiary;

      strong {
        font-weight: 400;
      }
    }
  }

  &-body {
    @include text-style(13, $primary);
    margin-top: 8px;

    .inquiry-content {
      padding-left: 20px;

      &:nth-child(n + 2) {
        margin-top: 12px;
      }

      position: relative;

      span {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 700;
        color: $blue;
      }

      p {
        @include flexbox(start);

        .ic-lock {
          margin-right: 8px;
          font-size: 16px;
          color: $tertiary;
        }
      }
    }

    .seller {
      @include flexbox(start);
      margin-bottom: 4px;

      time {
        @include text-style(12, $tertiary);
        margin-left: 4px;
      }
    }
  }

  @include responsive(T) {
    &-body {
      @include text-style(16);
      margin-top: 20px;

      .inquiry-content {
        padding-left: 24px;

        &:nth-child(n + 2) {
          margin-top: 16px;
        }
      }

      .seller {
        margin-bottom: 0;
      }
    }
  }
}
