.my-menu {
  position: relative;
  $tooltip-size: 12px;

  &.is-active {
    .gnb-avatart-button {
      .avartar-32 {
        border-color: $blue;
      }
    }

    .my-menu-content {
      opacity: 1;
      visibility: visible;
      transform: translate3d(-50%, 0, 0);
    }
  }

  &-content {
    @include pos-center-x;
    top: calc(100% + #{$tooltip-size} + 8px);
    border-radius: 4px;
    box-shadow: $dropdown-shadow;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-50%, -10px, 0);
    transition: visibility 200ms ease-in-out, opacity 200ms ease-in-out,
      transform 200ms ease-in-out;

    &:before,
    &:after {
      @include pos-center-x;
      content: '';
      border-top: $tooltip-size solid transparent;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
    }

    &:before {
      top: -#{$tooltip-size * 2};
      border-bottom: $tooltip-size solid $border;
    }

    &:after {
      top: -#{$tooltip-size * 2 - 2px};
      border-bottom: $tooltip-size solid $white;
    }

    &:after {
      @include pos-center-x;
      content: '';
      border-top: $tooltip-size solid transparent;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
    }
  }

  &-list {
    width: 200px;
    padding: 8px;
    background-color: $white;
    border: 1px solid $border;
    border-radius: 4px;
  }

  &-item {
    a,
    button {
      @include flexbox(start);
      @include text-style(16, $primary);
      width: 100%;
      height: 44px;
      padding: 0 8px;
      background-color: transparent;
      transition: background-color 200ms ease-in-out;

      &:hover {
        background-color: $background;
      }
    }
  }

  .gnb-avatart-button {
    &:hover {
      .avartar-32 {
        border-color: $blue;
      }
    }

    .avartar-32 {
      border: 3px solid $white;
      transition: border-color 200ms ease-in-out;
    }
  }
}
