.order-form {
  margin-top: 20px;

  .order-inputs {
    .select-group:nth-child(n + 2) {
      margin-top: 8px;
    }
  }

  .order-summary {
    @include flexbox(between);
    margin: 20px 0;

    dt {
      @include text-style(13, $dark);
      font-weight: 700;
    }
  }

  .button-group {
    @include flexbox;

    button {
      flex-grow: 1;

      &:last-child {
        margin-left: 8px;
      }
    }
  }
}
