.product-recommendation {
  .product-list {
    @include flexbox(between, start);
    flex-wrap: wrap;
    gap: 20px;

    .product-item {
      width: calc(50% - 10px); // (100% - 20px) / 2

      a {
        display: block;

        &:active {
          img {
            transform: scale(1.1) translate(-50%, -50%);
          }

          .product-card-title {
            opacity: 0.7;
          }
        }
      }
    }
  }

  @include responsive(T) {
    .product-list {
      gap: 16px;

      .product-item {
        width: calc(33.333% - 10.666px); // (100% - 32px) / 3

        &:nth-child(n + 4) {
          display: none;
        }
      }
    }
  }

  @include responsive(D) {
    .product-item a {
      &:hover {
        img {
          transform: scale(1.1) translate(-50%, -50%);
        }

        .product-card-title {
          opacity: 0.7;
        }
      }
    }
  }
}
