.product-card {
  &-image {
<<<<<<< HEAD
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
=======
    width: 100%;
    height: auto;
>>>>>>> 3a627cb84777440e6e57f3afaf06e2c2e272470f
    border-radius: 4px;
    overflow: hidden;

    img {
<<<<<<< HEAD
      @include pos-center;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 200ms ease-in-out;
=======
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
>>>>>>> 3a627cb84777440e6e57f3afaf06e2c2e272470f
    }
  }

  &-brand {
    @include text-style(12, $secondary);
    display: block;
    margin-top: 8px;
  }

  &-title {
<<<<<<< HEAD
    @include line-clamp(2);
=======
>>>>>>> 3a627cb84777440e6e57f3afaf06e2c2e272470f
    margin-top: 4px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: $dark;
  }

  &-price {
    @include flexbox(start);

    .percent,
    .price {
      @include text-style(18);
      font-weight: 700;
    }

    .percent {
      color: $blue;
    }

    .price {
      margin-left: 8px;
      color: $dark;
    }
  }

  &-detail {
    @include flexbox(start);
    margin-top: 4px;

    .rating,
    .review {
      @include flexbox(start);
      @include text-style(12);
      font-weight: 700;

      dd {
        margin-left: 2px;
      }
    }

    .rating {
      color: $dark;

      .ic-star {
        font-size: 12px;
        color: $blue;
      }
    }

    .review {
      margin-left: 8px;
      color: $secondary;
    }
  }

  .tag-gray {
    margin-top: 8px;
  }
}
