.user-gallery {
  margin: 0 -#{$grid-margin};

  &-slider {
    position: relative;
  }

  &-controls {
    @include pos-center;
    @include flexbox(between);
    width: 100%;
    padding: 0 54px;

    .control-button {
      @include flexbox;
      width: 40px;
      height: 40px;
      color: $primary;
      background-color: $white;
      border-radius: 50%;
      transition: color 200ms ease-in-out, background-color 200ms ease-in-out;

      &.is-prev {
        .ic-chevron {
          margin-left: -2px;
          transform: rotate(90deg);
        }
      }

      &.is-next {
        .ic-chevron {
          margin-right: -2px;
          transform: rotate(-90deg);
        }
      }

      &:hover {
        background-color: $blue;
        color: $white;
      }

      &[disabled] {
        visibility: hidden;
      }

      .ic-chevron {
        display: block;
        font-size: 28px;
      }
    }
  }

  .thumbnail-list {
    @include flexbox(start);
    margin-top: 4px;
    padding: 0 2px;
  }

  .thumbnail-item {
    flex-shrink: 0;

    &:nth-child(n + 2) {
      margin-left: 4px;
    }

    &.tns-nav-active {
      button {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 3px solid $blue;
          box-sizing: border-box;
        }
      }
    }

    button {
      position: relative;
      width: 64px;
      height: 64px;
      border-radius: 4px;
      overflow: hidden;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include responsive(T) {
    margin: 0;

    .thumbnail-list {
      padding: 0;
      margin-top: 6px;
    }

    .thumbnail-item {
      &:nth-child(n + 2) {
        margin-left: 6px;
      }

      button {
        width: 75px;
        height: 75px;
      }
    }
  }
}
