.sidebar {
  width: 240px;
  padding: 32px 20px;
  background-color: $white;

  &-header {
    padding: 0 12px;
  }

  &-user,
  &-auth {
    @include flexbox(start);
    height: 88px;
  }

  &-user {
    a {
      @include flexbox(start);
      width: 100%;

      .avartar-24 {
        flex-shrink: 0;
      }

      .username {
        @include text-style(14, $primary);
        flex-grow: 1;
        margin-left: 8px;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  &-auth {
    @include flexbox(between);

    a {
      width: 84px;
    }
  }

  .logo {
    @include flexbox(start);
    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }
}
